services:
  db:
    container_name: python-web-app-db
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  python-web-app:
    container_name: python-web-app
    build: .
    image: python-web-app:latest
    pull_policy: never
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8888:8888"
    restart: unless-stopped
    command: python src/main.py

volumes:
  db_data:
    name: "db_data"
