services:
  db:
    container_name: db
    image: postgres:15
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: ${DB_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    container_name: migrations
    build: .
    command: alembic upgrade head
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  python-web-app:
    container_name: python-web-app
    build: .
    image: python-web-app:latest
    pull_policy: never
    command: python src/main.py
    depends_on:
      - migrations
    ports:
      - "8888:8888"
    restart: unless-stopped
