[tool.isort]
profile = "black"
known_first_party = ["src"]
skip = [
    "migrations",
    ".venv",
]

[tool.black]
line-length = 88
target-version = ['py312']
exclude = '''
/(
\.git
| \.venv
| migrations
)/
'''